<div class="container card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/profile.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center">¿Quienes somos?</h5>
      <p class="card-text text-center">CIY es un aplicativo web que facilita  la ubicacion entre personas con el fin de 
          comprar y vender productos de aseo y bioseguridad en el departamento de Casanare.</p>
    </div>
    <hr>

    <div class="card-body pt-0 mt-0">
        <p class="card-text text-center">Desarollado por Neyder Neme y Paula Vargas, para la ayuda de Yopal.</p>
        <div class="d-flex justify-content-center">
          <i routerLink="/home" class="fas fa-arrow-circle-left fa-2x"></i>
          <a href="#" class="ml-3 card-link text-center " routerLink="/contact">Contactanos</a>

        </div>
    </div>
  </div>