<div class="container">
    <H2 class="mt-3 text-white">CIY - Info Contacto</H2>
    <p class="text-white mt-3">Puedes escribirnos para solicitudes de nuevas opciones en el sistema
        o informacion mas detallada sobre nosotros.
    </p>
    <hr>
    <div class="card text-white bg-danger mb-3 mt-3" style="max-width: 18rem;">
        <div class="card-header">Correo Gmail   <i class="fab fa-google-plus fa-fx4"></i></div>
        <div class="card-body">
          <p class="card-text">cleaningitemsyopal@gmail.com</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">WhatsApp   <i class="fab fa-whatsapp-square"></i></div>
        <div class="card-body">
          <p class="card-text"> Estamos trabajando para brindar esta opcion. <i class="far fa-sad-tear"></i></p>
        </div>
      </div>
      <hr>
      <i routerLink="/home" class="text-white fas fa-arrow-circle-left fa-2x"></i>
</div>