<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark pt-0 pb-0 bg-info" >
    <a class="navbar-brand h6 text-white" href="#" style="font-size: 100%;">
        Developed by Neyder N. © 2020</a>
    <button style="padding:0px; font-size: 1rem;" class="border-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/we">Info. Nosotros<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contact">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ten un buen día.</a>
        </li>
      </ul>
    </div>
  </nav>